{% load static %}

<div class="uk-navbar-container" style="background-color: #000000;" uk-navbar>

    <div class="uk-navbar-left">
        <h1 class=" uk-text-center uk-margin " style="color:cornsilk"> Одежда</h1>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {#            <li class="uk-active"><a href="#">Одежда</a></li>#}
            <li>
                <a href="#">Мужское<span uk-navbar-parent-icon></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Крутое название</li>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Продолжаем</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Эксклюзивное меню</a></li>
                    </ul>
                </div>

            </li>
            <li>
                <a href="#">Женское<span uk-navbar-parent-icon></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Крутое название</li>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Продолжаем</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Эксклюзивное меню</a></li>
                    </ul>
                </div>

            </li>
            <li>
                <a href="#">Аксессуары<span uk-navbar-parent-icon></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Крутое название</li>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Продолжаем</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Эксклюзивное меню</a></li>
                    </ul>
                </div>

            </li>
            <li>
                {#                             <img src="{% static "images/person-circle.svg" %}" class="img-fluid" />#}
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-cart4"
                     viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"  fill="currentColor" class="bi bi-person"
                     viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
            </li>
            {#            <svg src="{% static "svg/person-circle.svg" %}"></svg>#}
            {#            <img class="icon" src="{% static "svg/person-circle.svg" %}" alt="dots icon">#}
        </ul>
    </div>

    {#        <div class="uk-navbar-right">#}
    {#        <h1>d</h1>#}
    {#    </div>#}

</div>