{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
{% include 'main/basis.html' %}

<main>

    <div class="album py-5 bg-light">

        <div class="container">

            <div class="row  row-cols-md-3 g-3">
            {% csrf_token %}
                          {% for p in form %}
                <div class="col">
                    <div class="card shadow-sm">


                        <div class="uk-overflow-hidden">
                            <img src="{{ p.image.url }}"
                                 width="1000" height="1000" alt="Демо изображение" loading="lazy"
                                 uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
                            <div style="position: absolute;left: 129px ;bottom: 200px  ;width: 100%; color: aliceblue">
                                <h1 class="text-secondary">{{ p.product }}</h1>
{#                                   <h1 class="text-muted">Худи</h1>#}

                            </div>
                        </div>

                    </div>
                </div>



                          {% endfor %}
            </div>
        </div>

    </div>
 <a href="{% url 'create'   %}"> добавить </a>
</main>



</body>
</html>